
.row {
    margin: auto;
}

/*Header*/
.navbar.fixed-top {
    background-color: #0f0a1e;
}


/* Icone header */
img.icon {
    width: 30px;
    margin-left: 8px;
}



/*MAIN, la storia si svolge al suo interno */
body {
    height: 100%;
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center 15vh;
    background-color: #0f0a1e;
}

/*Table come giocare*/

.comeGiocare {
    color: white;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px; 
}

#p1 {
    /*Narrativa storia dialogo*/
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #0f0a1e66;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4vh;
    border-radius: 10px;
    line-height: 2.6vh;
    min-width: 80vw;
    min-height: 5vh;
    text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121, 0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121, -1px 1px 0 #212121;

    /* animation */
    animation-name: story;
    animation-duration: 2s;
}

@keyframes story {
    0% {
        min-width: 0vw;
        min-height: 0vh;
    }

    100% {
        min-width: 80vw;
        min-height: 5vh;
    }
}

#p1 #text {
    font-size: 4vw;
    font-style: oblique;

}

#main {
    position: relative;
    
    height: 72vh;
    width: 100vw;

    z-index: 1;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;

}
.container-fluid {
    padding: 0px;
    margin: 0;
}

/*NO LANDSCAPE*/
@media only screen and (orientation:landscape) {
    body {
        background-image: url('Images/turnDevice.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #212121;
    }

    .turnDeviceNotification {
        display: block;
    }

    .container {
        display: none;
    }
}


@media only screen and (orientation:portrait) {
    .turnDeviceNotification {
        display: none;
    }

    .container {
        display: block;
        max-width: none;
    }
}

.container {
    padding: 0px;
    margin: 0px;
}


/*console che si riempe */
@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
    opacity: 0;
}

.console-container {

    font-family: Khula;
    font-size: 1em;
    text-align: center;
    height: 30px;
    width: 470px;
    display: block;
    position: absolute;
    top: 10vh;
    bottom: 20vh;
    left: 0;
    right: 0;
    margin: auto;
}


/*-------------- Box Domanda ----- */

.dialogbox {
    width: 90%;
    height: 100%;
    border: 5px double rgb(0, 0, 0);
    border-left: 5px solid #000000;
    
    background-color:#ffffff25;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.317) inset; /*ombra interna al dialog box */
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    text-align: center;
    margin:10vh auto;
    justify-content: center;
    align-items: center;
    padding: 3%;
    color: white;

    /* -- animation -- */
    animation-name: dialog;
    animation-duration: 1s;
}

@keyframes dialog {
    0% {
        opacity: 0;
        }

    100% {
        opacity: 1;
        }
}

.dialogbox p {
    font-size: 2.3vh;
    padding: 1vw;
    margin: auto;
    text-transform: uppercase;
}

/*--- DIALOG POPUP ---*/

.col-2 {
    padding: 0px;
    width: 100%;
}


.dialogpopup {
    width: 11vw;
    height: 10vh;
    border: 5px double peru;
    border-left: 5px solid peru;
    background-color: rgba(109, 70, 30, 0.564);
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgba(205, 134, 63, 0.701) inset;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;


    margin: none;
    padding: 1.5vh;
    color: white;

}

.dialogpopup p {
    font-size: 3.2vw;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.dialogpopupimg {
    width: 100%;
    height: 10vh;
    border: 5px double peru;
    border-left: 5px solid peru;
    background-color: rgba(109, 70, 30, 0.564);
    border-radius: 20px;
    margin: none;
    padding: 0.3vh;

    color: white;

}

/*NOZIONE*/
#nozione{
    background-size: cover;
  
    border: 1px solid white;
    height: 100%;
    

}

#nozione img{
    width: 70%;
    height: 95%;
    border: 2px solid white;
}

#nozione p{
    font-size: 2.8vh;
    -webkit-text-stroke-width: 0.6px; 
    -webkit-text-stroke-color: rgb(217, 217, 217); 
}
#nozione .col-12{
    padding: auto;
}




/*FOOTER*/
#page-content {
    flex: 1 0 auto;
}
#sticky-footer {
    flex-shrink: none; /*setta il fattore di restringimento di un elemento flessibile*/
    height: 90%;
    background-color: #0f0a1e;
}
#footer{
    background-color: #0f0a1e;
    color: white;
    height: 20%;
    z-index: 2;
    bottom: 2vh;
}
#footcol.col{
    max-height: 40%;
}
#btm-true, #btm-false {
    width: 80%;
    height: 60%;
    border: 1px solid white;
    border-left: 4px solid white;
    background-color:#1e1243;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #1e1243 inset;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;


    margin: 1vh;
    margin-top: 2vh;
    margin-left: 2vh;
    padding: auto;
    color: white;

    

}
#btm:hover {
    background-color: #2c1768;
}

/*input type*/
input[type=text] {
    width:60%;
    padding: 6px 14px;
    margin: 8px 22px;
    box-sizing: border-box;
    border: 2px solid #77f077;
    border-radius: 10px;
    background-color: white;
  }

  input[type=button] {
    width:15%;
    padding: 6px 1px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#77f077;
  }

  #taptostart {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90px;
    color: white;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 5px;
    text-shadow: -2px 0 0 #fdff2a,
      -4px 0 0 #df4a42,
      2px 0 0 #91fcfe,
      4px 0 0 #4405fc;
    animation: blink 0.8s steps(2, start) infinite;

    font-family: 'Press Start 2P', cursive;
    background: #0f0a1e;
  }

  @keyframes blink {
    to {
      opacity: 0;
    }
  }